{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        
        <title>{% block title %}Главная страница{% endblock %}</title>
        
        <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css">
        <meta name="description" content="Panorama — A-Frame">
        <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    </head>
<body>
{% block body %}
<a-scene id="img_360">
      <a-sky src="../static/d.jpg" rotation="0 -130 0"></a-sky>
    </a-scene>
    
    <div class="content_geo">
        <div>
        </div>
    </div>
{% endblock %}
</body>
</html>

