{% extends 'take.html' %}


{% block body %}
<div class="sketchfab-embed-wrapper"> <iframe title="Soda Bottle" frameborder="0"
        allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking"
        xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="700" height="500"
        src="https://sketchfab.com/models/4bf14705154b443f9e1c845d133bf5ec/embed?autostart=1&ui_hint=0">
        </iframe> </div>
{% endblock %}