{% extends 'take.html' %}

{% block title %}
Предметы
{% endblock %}

{% block body %}
<div id="header">
<img style="position:absolute;left:0px;top;0px;" src="https://imageup.ru/img26/3837297/header.jpg">
</div>
<div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Школьные предметы</h1>
        <p class="lead text-muted">На этой странице расположены предметы, преподаваемые в нашей школе. Подробнее с ними вы можете ознакомиться ниже.</p>
        </p>
      </div>
    </div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: Миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
                <p class="card-text">Химия – это наука о веществах и их превращениях. Она изучает состав и строение веществ, зависимость их свойств от строения, условия и способы превращения одних веществ в другие.
</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><ya-tr-span data-index="12-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="View" data-translation="Просмотр" data-type="trSpan">Просмотр</ya-tr-span></button>
                </div>
                <small class="text-muted"><ya-tr-span data-index="13-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="9 mins" data-translation="9 минут" data-type="trSpan">9 минут</ya-tr-span></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: Миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
                <p class="card-text">Физика — это наука о природе в самом общем смысле.Предмет её изучения составляет материя и наиболее общие формы её движения, а также фундаментальные взаимодействия природы, управляющие движением материи.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Просмотр</button>
                </div>
                <small class="text-muted"><ya-tr-span data-index="16-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="9 mins" data-translation="9 минут" data-type="trSpan">9 минут</ya-tr-span></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: Миниатюра" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text"><ya-tr-span data-index="17-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="This is a wider card with supporting text below as a natural lead-in to additional content. " data-translation="Это более широкая карточка с сопроводительным текстом ниже в качестве естественного перехода к дополнительному контенту. " data-type="trSpan">Это более широкая карточка с сопроводительным текстом ниже в качестве естественного перехода к дополнительному контенту. </ya-tr-span><ya-tr-span data-index="17-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="This content is a little bit longer." data-translation="Этот контент немного длиннее." data-type="trSpan">Этот контент немного длиннее.</ya-tr-span></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><ya-tr-span data-index="18-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="View" data-translation="Просмотр" data-type="trSpan">Просмотр</ya-tr-span></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><ya-tr-span data-index="18-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Edit" data-translation="Правки" data-type="trSpan">Правки</ya-tr-span></button>
                </div>
                <small class="text-muted"><ya-tr-span data-index="19-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="9 mins" data-translation="9 минут" data-type="trSpan">9 минут</ya-tr-span></small>
              </div>
            </div>
          </div>
        </div>
</div>
{% endblock %}